.controls {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-inline-size: min(var(--disp-min-w), calc(var(--seed-w) * 1px));
}

.control {
    display: grid;
    gap: 6px;
    align-items: center;
    grid-template-columns: 1fr auto;
}

.label {
    grid-column: 1 / -1;
    font-weight: 500;
}

.w-100 {
    width: 100%;
}

.num {
    width: 96px;
}