.container {
    display: grid;
    gap: 16px;
    padding: 16px;
}

.uploader {
    display: flex;
    gap: 8px;
    align-items: center;
}

.grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: start;
}